:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: var(--grey-dark);
  background-color: var(--grey);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --green-light: #79eee2;
  --green-medium: #54b4d1;
  --green: #0a4a5e;
  --yellow: #f7b11b;
  --pink: #af2a5b;
  --grey: #dfe2e2;
  --grey-medium: #c3c5c4;
  --grey-dark: #373738;


}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.5em 1em;
  border-radius: 2em;
  border: none;
  background-color: var(--pink);
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: var(--yellow);
}

