.jobs {
  position: relative;
  left: 8em;
  top: -5.5em;
}

.jobCards {
  display: flex;
  justify-content: space-between;
  width: 85%;
  
}

.card {
  background-color: white;
  border-radius: 1em;
  padding: 0 1em;
  width: 15em;
  height: 14em;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;

}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);

}
.card h5 {
  margin-bottom: -1em;
}

.textGrey {
  color: var(--grey-medium);
  font-style: italic;
}


.textPink {
  color: var(--pink);
  font-size: 1.4em;
}

.card h4 {
  text-decoration: underline;
}

.reward {
  display: flex;
  align-items: center;
  gap: 1em;
}

.reward .textGrey {
  position: relative;
  top: 1em;
}
.location {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.location span {
  color: var(--grey-medium);
  position: relative;
  top: 1em;
}

.card img {
  height: 4em;
  translate: 30%;
}

.details {
  position: relative;
  top: -2em;
}